<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">

      <div class="card">
        <div class="card-body text-center">
          <div class="body">
            <img src="../../../assets/img/add-user.png" alt="login" width="100">
          </div>
          <span class="titulo">Registro</span>
          <form [formGroup]="userRegister" class="mt-3" (ngSubmit)="register()">
            <div class="mb-3">
              <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" formControlName="password" placeholder="Password (mínimo 6 carácteres)">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" formControlName="repeatPass" placeholder="Repetir Password">
            </div>
            <div class="d-grid gap-2">
              <button type="submit" [disabled]="userRegister.invalid" class="btn btn-primary float-end mt-3">Enviar</button>
            </div>
            <br>
            <p class="registro mt-3"><a class="link" [routerLink]="['/home']"
                routerLinkActive="router-link-active">Volver</a></p>
            <br>
            <br>

          </form>

        </div>

      </div>
    </div>

  </div>

</div>
