<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
  
        <div class="card">
          <div class="card-body text-center">
            <div class="body">
              <img src="../../../assets/img/password.png" alt="login" width="100">
            </div>
            <span class="titulo mb-2">Recuperar Password</span>
            <form [formGroup]="recoverPass" class="mt-3" (ngSubmit)="recover()">
              <div class="mb-3">
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
              </div>
             <div class="d-grid gap-2">
                <button type="submit" [disabled]="recoverPass.invalid" class="btn btn-primary float-end mt-3">Recuperar</button>
              </div>
              <br>
            <p class="recuperar"><a class="link" [routerLink]="['/login']"
                  routerLinkActive="router-link-active">Volver</a></p>
            </form>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
