<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <h3>Le enviamos un email para verificar la cuenta de correo</h3>
          <div class="d-grid gap-2">
            <button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active"
              class="btn btn-primary float-end mt-3">Volver</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
